body{
    font-family: 'Roboto Slab', serif;
    padding:100px;
}
.submit-area{
    margin-top: 50px;
    box-shadow: 5px 5px 10px grey;
    border-radius:10px;
    padding:40px;
    width: 80%;
    align-items: center;
    margin-left: 10%;
}
#transaction-area
{
    display: none;
}
.deposit
{
    
    background-color: rgb(119, 106, 206);
   
}
.withdraw
{
    background-color: rgb(231, 63, 63);
    
}
.balance
{
    background-color: rgba(245, 171, 35, 0.904);
    
}
.status
{
    
    margin: 0px 10px;
    color:white;
    border-radius: 10px;  
    height: 150px;
    width: 290px; 
    text-align: center;
}
.screen
{
    margin-left: 80px;
}
